---
import Layout from '../layouts/Layout.astro';
import Hello from '../components/Hello.astro';
import Experience from '../components/Experience.astro';
import Education from '../components/Education.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Sergio Balanda.">
	<main class="px-2">
		<Hello/>
		<Experience/>
		<Education/>
		<Projects/>
		<Skills/>
		<!-- foooter contacto -->
	</main>
</Layout>

<style>
</style>
